.container {
  display: flex;
  justify-content: space-between;
  .categories {
    .categoryName {
      color: red;
      font-size: 14px;
      margin-bottom: 12px;
      padding: 5px;
      border: 1px solid red;
      border-radius: 3px;
      background-color: antiquewhite;
      transition: background-color 1s ease-out 10ms;
      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
  .categoryArea {
    display: flex;
    justify-content: center;
    border: 3px solid brown;
    width: 40%;
    .xButton{
        background-color: transparent;
        border: none;
        color: red;
    }
  }
  .products {
    .productName {
      color: blue;
      font-size: 11px;
      margin-bottom: 12px;
      padding: 5px;
      border: 1px solid blue;
      border-radius: 3px;
      background-color: antiquewhite;
      transition: background-color 1s ease-out 10ms;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: blue;
      }
    }
  }
}
